In [9]:
list=[1,2,3,4,5]

In [10]:
type(list)

list

In [11]:
x=list.append(66)
print(x)

None

In [12]:
print(list[1])
print(list[4::-1])
print(len(list))

2
[5, 4, 3, 2, 1]
6

In [13]:
x1=list.remove(list[2])
print(x1)

None

In [14]:
y=(1,2,3,4,5,6,7,8)


z=[(1,2,3,4),(5,6,5,6,7)]
t=([1,2,3,4,],["yes","you ","can do it"])
q=t+y
print(q)
print(q[::-2])

([1, 2, 3, 4], ['yes', 'you ', 'can do it'], 1, 2, 3, 4, 5, 6, 7, 8)
(8, 6, 4, 2, ['yes', 'you ', 'can do it'])

In [15]:
import math
print(math.sqrt(3))
print(math.pow(4,3))

1.7320508075688772
64.0

In [16]:
string="Tim\'s birthday"
print(string)

Tim's birthday

In [17]:
string="Hey there martin"
print(string)
print(len((string)))
for i in string:
    print(i, end="")

Hey there martin
16
Hey there martin

In [18]:
stg="welcome to python"
print(stg.upper())
print(stg.capitalize())
print(stg.find("o"))
print(stg.index("o"))
print(x)
print(stg.replace("python","scripting language"))
#x=stg.split(" ")
x=stg.rpartition(" to ")
print(x)

WELCOME TO PYTHON
Welcome to python
4
4
None
welcome to scripting language
('welcome', ' to ', 'python')

# str concatination

In [19]:
stg1="Good"
stg2="Morning"
stg3="all"
result="{} {}, {}".format(stg1,stg2,stg3)
print(result)

Good Morning, all

# Dictionary

In [20]:
d1={}
print(d1)
print(type(d1))

{}
<class 'dict'>

In [21]:
d2={1:"Welcome",2:"to",3:"our",3:"lessons"}
print(d2)
print(d2[3])

{1: 'Welcome', 2: 'to', 3: 'lessons'}
lessons

In [22]:
d3={"Name":"Son","Age":"33","Gender":"Male"}
print(d3)

{'Name': 'Son', 'Age': '33', 'Gender': 'Male'}

In [23]:
d4=dict({"Name":"Son","Age":"33","Gender":"Male"})
print(d4)

{'Name': 'Son', 'Age': '33', 'Gender': 'Male'}

In [24]:
d5=dict([(1,"we;come"),(2,"to"),(3,"python"),(4,"lessons")])
print(d5)

{1: 'we;come', 2: 'to', 3: 'python', 4: 'lessons'}

In [25]:
d6={"Name":{"first":"Sam","last":"Jocobs"},"Age":"33","Gender":"Male"}
print(d6)

{'Name': {'first': 'Sam', 'last': 'Jocobs'}, 'Age': '33', 'Gender': 'Male'}

# Adding Elements

In [35]:
d={}
d[0]="welcome"
print(d)
d[1]=("to","python","lessons")
print(d)

{0: 'welcome'}
{0: 'welcome', 1: ('to', 'python', 'lessons')}

In [27]:
d["name"]="Sam"
print(d)

{0: 'welcome', 1: ('to', 'python', 'lessons'), 'name': 'Sam'}

In [38]:
d["name"]={"first":"James","last":"Krebs"}
print(d)

{0: 'welcome', 1: ('to', 'python', 'lessons'), 'name': {'first': 'James', 'last': 'Krebs'}}

# access elements

In [39]:
print(d)
print(d["name"]["first"])

{0: 'welcome', 1: ('to', 'python', 'lessons'), 'name': {'first': 'James', 'last': 'Krebs'}}
James

In [30]:
print(d.get(0))
print(d)

welcome
{0: 'welcome', 1: ('to', 'python', 'lessons'), 'name': {'first': 'James', 'last': 'Krebs'}}

# DELETING ELEMENTS

In [32]:
print(d)
print(d.pop(0))

{0: 'welcome', 1: ('to', 'python', 'lessons'), 'name': {'first': 'James', 'last': 'Krebs'}}
welcome

In [33]:
print(d.popitem())

('name', {'first': 'James', 'last': 'Krebs'})

In [40]:
print(d)

{0: 'welcome', 1: ('to', 'python', 'lessons'), 'name': {'first': 'James', 'last': 'Krebs'}}

# USING INBUILT FUNCTIONS

In [41]:
d.values()

dict_values(['welcome', ('to', 'python', 'lessons'), {'first': 'James', 'last': 'Krebs'}])

In [42]:
keys={'a','b','c','4'}
value=1
dict.fromkeys(keys,value)

{'a': 1, 'b': 1, '4': 1, 'c': 1}

# SETS IN PYTHON
SYNTAX variable_name=set(['a','b','c'])

In [43]:
s1=set([1,2,3,4])
print(s1)
print(type(s1))

{1, 2, 3, 4}
<class 'set'>

In [53]:
s1.add("a")
s2=s1.add(6)
print(s1)

{'a', 1, 2, 3, 4, 6}

In [54]:
fs=frozenset([1,2,3,4,6])
print(fs)

frozenset({1, 2, 3, 4, 6})

In [57]:
fs.union("d")

frozenset({1, 2, 3, 4, 6, 'd'})

In [60]:
s2=set([1,2,3,4,5])
s3=set([7,8,9,0,"good"])

result=s2.union(s3,s1)
print(result)

{0, 1, 2, 3, 4, 5, 'a', 7, 8, 9, 6, 'good'}

In [61]:
dif=s2.difference(s3)
print(dif)

{1, 2, 3, 4, 5}